 * {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    scroll-behavior: smooth;
}

/* NAVBAR */

header {
    width: 90%;
    height: 10vh;
    padding: 0 5% 0 5%;
    background-color: #fff;
    position: sticky;
    top: 0;
    box-shadow: 0 4px 6px -6px #222;
    z-index: 1;
}
                                      
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 10vh;
    margin: auto;
}
                                        
nav h1 {
    font-size: 2rem;
    color: #000;
    cursor: pointer;
}

ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

li {
    list-style: none;
    padding: 20px;
}

a {
    text-decoration: none;
    color: #000;
    font-size: 1rem;
    font-weight: 700;
}

a:hover {
    color: #8CD867;
    transition: 0.3s ease-in-out;
}

.bag {
    width: 20px;
    height: 20px;
    cursor: pointer;
    padding: 0 0 0 2rem;
}

/* HERO */

.hero {
    max-width: 100vw;
    max-height: 90vh;
    display: flex;
    overflow: hidden;
    background-color: #f5f5f5;
}

.hero-content {
    width: 35vw;
    height: 90vh;
    float: left;
    margin: 12% 5%;
}

.hero-h1 {
    font-size: 62px;
    padding-bottom: 1rem;
}

.hero-p {
    font-size: 24px;
    padding-bottom: 6rem;
}

.hero-image {
    width: 65vw;
    height: 90vh;
    background: url('./img/food.jpg') no-repeat center;
    background-size: cover;
    float: right;
}

.hero-btn {
    border-style: none;
    background-color: #8CD867;
    width: 8rem;
    height: 3rem;
    border-radius: 1.5rem;
    font-weight: 900;
    font-size: 1rem;
    margin-right: 2rem;
    cursor: pointer;
}

.hero-btn:hover {
    background-color: darkgreen;
    color: #fff;
    transition: 0.3s ease-in-out;
}

strong {
    color: #8CD867;
}

span {
    font-weight: 300;
}

/* MENY */

.container {
    width: 90%;
    height: 100vh;
    padding: 0 5% 0 5%;
}

.section-header {
    font-size: 2rem;
    padding-top: 7%;
    text-align: center;
    color: #000;
    font-weight: 700;
}

h2 {
    text-align: center;
    color: darkgray;
    margin-top: 0.5rem;
    font-weight: 300;
    font-size: 1rem;
}

sl-rating {
    --symbol-color-active: #164200;
    --symbol-color: #fff;
    padding: 8% 8% 20% 8%;
}

.shop-items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 8%;
}

.shop-item {
    background-color: #bee0ad;
    width: 16vw;
    height: 45vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.shop-item-image {
    width: 12.5vw;
    height: auto;
    transform: translate(0, -45%);
    box-shadow: 0 25px 50px -20px #222;
    border-radius: 50%;
}

.shop-item-title {
    font-size: 1.5rem;
    font-weight: 700;
    margin-top: -15%;
}

.shop-item-price {
    font-weight: 700;
    font-size: 1.5rem;
    
}

.btn {
    border: none;
    border-style: none;
    background-color: #8CD867;
    width: 6rem;
    height: 2rem;
    border-radius: 1.5rem;
    font-weight: 900;
    font-size: 0.7rem;
    cursor: pointer;
    margin-left: 100px;
}

.btn:hover {
    background-color: #73a15d;
    transition: 0.3s ease-in-out;
}

.shop-item-details {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.section-header-kundvagn {
    font-size: 2rem;
    padding-top: 7%;
    margin-bottom: 5%;
    text-align: center;
    color: #000;
    font-weight: 700;
}

.btn-header {
    margin: .5em 15% 2em 15%;
    color: white;
    border: 2px solid #2D9CDB;
    background-color: rgba(255, 255, 255, .1);
    border-radius: 0;
    font-size: 1.5em;
    font-weight: lighter;
    padding-left: 2em;
    padding-right: 2em;
}

/* KUNDVAGN */

.cart-header {
    font-weight: bold;
    font-size: 1.25em;
    color: #333;
}

.cart-column {
    display: flex;
    align-items: center;
    margin-right: 1.5em;
    padding-bottom: 10px;
    margin-top: 10px;
}

.cart-row {
    display: flex;
    border-bottom: 1px solid rgb(233, 233, 233);
}

.cart-item {
    width: 45%;
}

.cart-price {
    width: 20%;
    font-size: 1.2em;
    color: #333;
}

.cart-quantity {
    width: 35%;
}

.cart-item-title {
    color: #333;
    margin-left: 1.5em;
    font-size: 1.5em;
    font-weight: 700;
}

.cart-item-image {
    width: 125px;
    height: auto;
    border-radius: 10px;
}

.btn-danger {
    color: white;
    background-color: #EB5757;
    border: none;
    border-radius: .3em;
    font-weight: bold;
}

.btn-danger:hover {
    background-color: #CC4C4C;
}

.cart-quantity-input {
    height: 34px;
    width: 50px;
    border-radius: 5px;
    border: 1px solid #8CD867;
    background-color: #eee;
    color: #333;
    padding: 0;
    text-align: center;
    font-size: 1.2em;
    margin-right: 25px;
}

.cart-row:last-child .cart-column {
    border: none;
}

.cart-total {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 10px;
}

.cart-total-title {
    font-weight: bold;
    font-size: 1.5em;
    color: black;
    margin-right: 20px;
}

.cart-total-price {
    color: #333;
    font-size: 1.1em;
}

.btn-purchase {
    display: block;
    margin: 1rem auto auto auto;
    font-size: 0.8rem;
}

/* OM OSS */

.about {
    width: 90%;
    height: 100vh;
    padding: 0 5% 0 5%;
    background-color: #f2f2f2;
}

.about h1 {
    font-size: 2rem;
    padding-top: 7%;
    text-align: center;
    color: #000;
    font-weight: 700;
}

.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 5%;
}

.profile-box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 40vh;
    width: 25vh;
    padding: 2rem;
    background-color: #bee0ad;
    border-radius: 5%;
}

.profile-pic {
    border-radius: 50%;
    width: 150px;
}

.profile-box p {
    font-size: 1rem;
}

h3 {
    font-size: 1.5rem;
    font-weight: 900;
    text-align: center;
    margin: 5px auto;
}

h4 {
    font-size: 0.8rem;
    font-weight: 500;
    text-align: center;
    margin: 5px auto;
}

/* nya tillägg i style css för kundservice ==== */

#contact {
    position: relative;
    margin: auto;
    padding-top: 15vh;
    justify-items: center;
    height: 100vh;
}

.customerservice {
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
}

#customerserv {
    text-align: center;
    font-size: 3rem;
    color: rgb(0, 0, 0);
    text-shadow: 0px 0px 4px rgb(93, 224, 93);
}

.icons {
    height: 200px;
    width: 200px;
    margin: 3vh;
    display: inline-flexbox;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.icons i {
    padding: 1vh;
}

.icons h6 {
    color: rgb(42, 148, 42);
    text-shadow: 1px 1px 1px rgb(0, 0, 0);
}

.icons h6 {
    font-size: 1.2rem;
}

textarea {
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
}

input[type="submit"] {
    color: white;
    text-shadow: 0.7px 0.7px rgb(80, 76, 76);
    background-color: rgb(38, 160, 22);
}

/* =========kundservise / kontakt */

.kontakta {
    display: flex;
    justify-content: center;
    align-items: center;
}

#kontakt {
    margin: auto;
    padding: 2vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#kontakt h2 {
    font-size: 2.5rem;
    text-shadow: 0.1rem 0.1rem rgb(217, 226, 217);
}

.icon {
    font-size: 2rem;
    text-shadow: 0.1rem 0.1rem rgb(217, 226, 217);
}

#kontakt strong {
    font-size: 1rem;
}

div[role=main] {
    flex: 1 1 30vh;
}

fieldset {
    width: 60vh;
    padding: 1vh;
    border-radius: 0.5vh;
    margin-bottom: 1vh;
}

legend {
    font-size: 2rem;
}

form p {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

label {
    flex: 0 1 10ch;
    text-align: right;
    padding-right: 1ch;
}

.req-field {
    flex: 0 0 2ch;
    order: 1;
    text-align: center;
    padding-right: 0;
}

input[type=text],
input[type=email],
textarea {
    flex: 1 1 20ch;
    max-width: 30vh;
}

textarea {
    height: 5vh;
    resize: vertical;
}

input[type="submit"] {
    display: block;
    margin: auto;
    font-size: 1rem;
}

/* ANIMATION */

/*
.blad {
    position: absolute;
    z-index: 2;
    top: 35px;
    left: 70px;
}
*/

/* BLAD ICON */

/*
.fa-seedling {
    color: #8CD867;
    text-shadow: 1px 1px 2px black;
    width: 100px;
    position: relative;
    animation: blad 4s linear 1;
    animation-delay: 1s;
}

@keyframes blad {
    0% {
        left: 0px;
        top: 0px;
    }
    25% {
        left: 50px;
        top: 25px;
        transform: rotate(90deg) scale(1.3);
    }
    50% {
        left: 50px;
        top: 50px;
        transform: rotate(180deg) scale(2);
    }
    75% {
        left: 0px;
        top: 25px;
        transform: rotate(360deg) scale(1.3);
    }
    100% {
        left: 0px;
        top: 0px;
        transform: scale(1);
    }
}
   -->                        */